---
import Image from "astro/components/Image.astro";
import marina_um from "../../../public/images/img_marina_about_me_1.webp";
import marina_dois from "../../../public/images/img_marina_about_me_2.webp";
import aboutMeContent from "../../data/aboutMeContent.json";
import "../../styles/global.css";
import AboutCard from "../ui/aboutCard.astro";
---

<section class="bg-yellow-light" id="about">
  <div
    class="max-w-[1420px] mx-auto px-6 py-14 lg:py-24 flex flex-col items-center"
  >
    <div class="flex flex-col gap-4">
      <div class="w-1/4 leading-12 mb-8">
        <div class="pr-2">
          <p
            class="font-poppins font-medium text-sm text-neutral-600 uppercase whitespace-nowrap"
          >
            SOBRE MIM
          </p>
          <h2
            class="font-playfair text-[2rem] lg:text-[3.5rem] text-neutral-800 leading-none"
          >
            {aboutMeContent.about_me_title}
          </h2>
        </div>
      </div>

      <div class="w-full flex flex-col lg:flex-row justify-center items-start">
        <div
          class="relative w-full lg:w-1/3 max-w-[400px] mx-auto mb-6 lg:mb-0 lg:mr-8"
        >
          <Image
            src={marina_um}
            alt="Marina"
            class="w-full h-auto rounded-md"
          />
          <div
            class="absolute bottom-0 left-0 right-0 bg-neutral-100/60 p-4 rounded-b-md h-fit lg:hidden shadow-md backdrop-blur-sm"
          >
            <h3 class="font-poppins text-neutral-700 text-sm font-medium">
              Dra. Marina Barroquelo Viana Grigolli
            </h3>
          </div>
        </div>
        <div
          class="font-poppins text-lg lg:text-xl text-neutral-800 space-y-4 w-full lg:w-2/3"
        >
          <h1 class="hidden lg:block font-playfair text-[1.75rem]">
            {aboutMeContent.about_me_subtitle}
          </h1>
          <p>{aboutMeContent.about_me_content_p1}</p>
          <p>{aboutMeContent.about_me_content_p2}</p>
          <p>{aboutMeContent.about_me_content_p3}</p>
        </div>
      </div>

      <div
        class="w-full flex flex-col lg:flex-row items-center justify-between gap-4 lg:gap-8 mt-4 lg:mt-12"
      >
        <div class="relative w-full max-w-[400px] mx-auto mb-6 block lg:hidden">
          <Image
            src={marina_dois}
            alt="Marina"
            class="w-full h-auto rounded-md"
          />
          <div
            class="absolute bottom-0 left-0 right-0 bg-neutral-100/60 p-4 rounded-b-md h-fit shadow-md backdrop-blur-sm"
          >
            <p class="font-poppins italic text-neutral-700 text-sm">
              “A advocacia é o instrumento da justiça e da transformação
              social.”
            </p>
          </div>
        </div>
        <div
          class="w-full flex flex-col lg:flex-row items-center justify-between gap-4 lg:gap-8 mt-4 lg:mt-12"
        >
          {/* Cards e imagem lado a lado no desktop */}
          <div class="flex flex-col lg:flex-row w-full gap-8 items-start">
            <div class="flex flex-col gap-6 w-full lg:w-2/3 items-center">
              <div class="lg:w-[507px] flex flex-col gap-4">
                {
                  aboutMeContent.aboutCard.map((about) => (
                    <AboutCard
                      icon={about.icon}
                      title={about.title}
                      description={about.description}
                    />
                  ))
                }
              </div>
            </div>
            <div
              class="relative w-full lg:w-1/3 max-w-[400px] mx-auto mb-6 lg:mb-0"
            >
              <Image
                src={marina_dois}
                alt="Marina"
                class="w-full h-auto rounded-md hidden lg:block"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
