---
import aboutContent from "../data/aboutContent.json";
import "../styles/global.css";
import AboutCard from "./aboutCard.astro";
---

<section class="bg-neutral-0" id="about">
  <div
    class="flex flex-col lg:flex-row gap-6 lg:gap-[96px] w-full py-24 lg:px-48 px-6"
  >
    <div>
      <p class="font-poppins text-base text-neutral-600 uppercase">Sobre</p>
      <h3
        class="font-playfair font-medium text-[2rem] lg:text-6xl leading-[2rem] lg:leading-[4.5rem]"
      >
        {aboutContent.about_title}
      </h3>
    </div>
    <div class="text-lg lg:text-xl font-poppins flex flex-col gap-6">
      <div class="space-y-6">
        <p>{aboutContent.about_content_p1}</p>
        <p>{aboutContent.about_content_p2}</p>
      </div>
      <div class="flex flex-col lg:flex-row gap-4 mt-8">
        {
          aboutContent.aboutCard.map((about) => (
            <AboutCard
              icon={about.icon}
              title={about.title}
              description={about.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>
