---
import aboutContent from "../data/aboutContent.json";
import "../styles/global.css";
import AboutCard from "./aboutCard.astro";
---

<section class="bg-neutral-0" id="about">
  <div class="max-w-[1420px] mx-auto px-6 py-14 lg:py-24">
    <div class="flex flex-col lg:flex-row gap-4">
      <div class="w-1/4 leading-12">
        <div>
          <p
            class="font-poppins font-medium text-sm text-neutral-600 uppercase"
          >
            Sobre
          </p>
          <h2
            class="font-playfair text-[2rem] lg:text-[3.5rem] text-neutral-800 leading-tight"
          >
            {aboutContent.about_title}
          </h2>
        </div>
      </div>

      <div class="w-full lg:w-3/4">
        <div class="font-poppins text-lg lg:text-xl text-neutral-700 space-y-4">
          <p>{aboutContent.about_content_p1}</p>
          <p>{aboutContent.about_content_p2}</p>
          <p>{aboutContent.about_content_p3}</p>
        </div>

        <div class="flex flex-col lg:flex-row gap-4 pt-8">
          {
            aboutContent.aboutCard.map((about) => (
              <AboutCard
                icon={about.icon}
                title={about.title}
                description={about.description}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
