---
import contactContent from '../data/contactContent.json';
import '../styles/global.css';
import Button from './button.astro';
import ContactItem from './contactItem.astro';
---

<div class="bg-neutral-700 flex justify-center py-14 px-4 lg:py-24 lg:px-56">
  <div class="w-full max-w-[1472px] flex flex-col lg:flex-row gap-8 lg:gap-16">
    <div class="w-full lg:w-1/2 leading-tight">
      <p class="font-poppins text-sm text-neutral-600 uppercase">Contato</p>
      <h3
        class="font-playfair text-[32px] lg:text-[42px] text text-neutral-100 pb-6"
      >
        {contactContent.title}
      </h3>
      <div class="space-y-4">
        {
          contactContent.contacts.map((contact) => (
            <ContactItem
              icon={contact.icon}
              description={contact.description}
            />
          ))
        }
      </div>
    </div>

    <div class="bg-neutral-100 w-full flex items-center lg:w-1/2 rounded-lg h-fit">
      <div class="p-6 lg:py-14 lg:px-12">
        <h3
          class="font-playfair text-[28px] lg:text-[32px] font-semibold text-neutral-800 pb-8"
        >
          {contactContent.titleCard}
        </h3>
        <form class="flex flex-col justify-center">
          <div class="relative">
            <label class="font-poppins text-neutral-700" for="fullName">
              Nome Completo
            </label>
            <input
              id="fullName"
              name="fullName"
              type="text"
              class="w-full border-0 border-b-2 border-b-neutral-700 focus:outline-none focus:ring-0 bg-transparent py-2"
              required
            />
          </div>
          <div class="mt-auto pt-8">
            <Button
              text={contactContent.textButton}
              class="bg-brown-dark text-neutral-100 flex w-full justify-center"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
