---
import contactContent from '../data/contactContent.json';
import '../styles/global.css';
import Button from './button.astro';
import ContactItem from './contactItem.astro';
---

<section class="bg-neutral-700 w-full">
  <div class="max-w-[1420px] px-6 py-14 lg:py-24">
    <div class="flex flex-col lg:flex-row gap-8">
      <div class="w-full lg:w-1/2 leading-tight">
        <div class="pb-8">
          <p
            class="font-poppins font-medium text-sm text-neutral-400 uppercase"
          >
            Contato
          </p>
          <h2 class="font-playfair text-[32px] lg:text-[42px] text-neutral-100">
            {contactContent.title}
          </h2>
        </div>

        <div class="space-y-4">
          {
            contactContent.contacts.map((contact) => (
              <ContactItem
                icon={contact.icon}
                description={contact.description}
              />
            ))
          }
        </div>
      </div>

      <div class="w-full lg:w-1/2">
        <div class="bg-neutral-100 rounded-lg p-6 lg:p-12 space-y-[42px]">
          <h3
            class="font-playfair text-[28px] lg:text-[32px] font-semibold text-neutral-800"
          >
            {contactContent.titleCard}
          </h3>

          <form class="w-full">
            <label
              class="font-poppins text-sm font-medium text-neutral-700"
              for="fullName"
            >
              Nome Completo
            </label>
            <input
              id="fullName"
              name="fullName"
              type="text"
              class="w-full border-b-1 border-neutral-700 py-2"
              required
            />
          </form>
          <Button
            text={contactContent.textButton}
            class="bg-brown-dark text-neutral-100 w-full justify-center hover:bg-neutral-700 transition-colors duration-200"
          />
        </div>
      </div>
    </div>
  </div>
</section>
